@import './reset';
@import './themes/dark';
@import './themes/light';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.app {
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
  font-family: 'Montserrat';
}

.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  border: 2px;
  background-color: var(--input-bg);
  border-radius: 6px;
  border: 2px solid var(--violet-color);
  color: var(--violet-color);
  font-weight: 600;
  padding: 7px;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    background-color: var(--input-bg-hover);
  }
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.main {
  padding: 0 150px;
  padding-bottom: 60px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }
}

.no-favorites {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 32px;
  }
}

.theme-switcher {
  width: 188px;
}

.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__input {
  opacity: 0;

  &:hover,
  &:focus {
    + .theme-switch__label {
      background-color: lightSlateGray;
    }

    + .theme-switch__label span::after {
      background-color: lighten(lightBlue, 10%);
    }
  }
}

.theme-switch__label {
  transition: background-color 200ms ease-in-out;
  width: 80px;
  height: 29px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
  transform: translate(74px, -3px);
  cursor: pointer;

  &::before,
  &::after {
    font-size: 2rem;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
  }

  &::before {
    content: '\263C';
    right: 100%;
    margin-right: 10px;
    color: orange;
  }

  &::after {
    content: '\263E';
    left: 100%;
    margin-left: 10px;
    color: lightSlateGray;
    transform: translateY(-24px);
  }

  span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    top: calc(100% + 12px);
    left: 4px;
    width: 25px;
    height: 25px;
    content: '';
    border-radius: 50%;
    background-color: lightBlue;
    transition:
      transform 200ms,
      background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;

  &::before {
    color: lightSlateGray;
  }

  &::after {
    // color: turquoise;
    color: var(--violet-color);
  }

  span::after {
    transform: translate3d(46px, 0, 0);
  }
}

@media screen and (max-width: 1084px) {
  .main {
    padding: 0 50px 60px;
  }
}

@media screen and (max-width: 834px) {
  .main {
    padding: 100px 50px 60px;
  }
  .theme-switch__label {
    transform: translate(55px, -3px);
  }
}

@media screen and (max-width: 424px) {
  .main {
    padding: 100px 10px 60px;
  }
}
