.pagination {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  background-color: var(--input-bg-hover);
  padding: 0 20px;
  border-radius: 20px;
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
  
}

.li {
  // padding: 5px;
  // background-color: var(--violet-color);
  cursor: default;  
}

.button {
  border: none;
  // background-color: var(--violet-color);
  background-color: var(--input-bg-hover);
  color: var(--font-color);
  padding: 5px;
  min-width: 30px;
  
}

.buttonUsable {
  cursor: pointer;
}

.active {
  background-color: var(--font-violet);
  color: #fff;
}


@media screen and (max-width: 424px) { 
  .ul {
    font-size: 16px;
    gap: 3px;
  }
}
