.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  background-color: var(--header-bg);
  height: 100px;

  a {
    text-decoration: none;
    color: var(--header-link);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.1s;
    &:hover {
      color: var(--header-link-hover);
    }
  }
}

.logo {
  width: 250px;
}

.username,
.logout {
  color: var(--header-link);
  font-size: 20px;
  font-weight: 500;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    color: var(--header-link-hover);
  }
}

.ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.headerAuth {
  display: flex;
  gap: 1rem;
  a {
    margin-right: 6px;
  }
}
