.app.light {
  --bg-color: #ffffff;
  --font-color: #0e0e0e;
  --link-color-primary: #09d3ac; 
  --header-bg: #e4e4e4;

  --input-bg: #ffffff;

  --input-bg-hover: #abb8dd;

  --violet-color: #818CF8;

  --loader-main: #969696;
  --loader-second: #09d3ac; 
}