.movieContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.top {
  display: flex;
  gap: 3rem;
}

.plot {
  margin-top: 12px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoItem {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.infoKey {
  min-width: 150px;
}

.ratingUl {
  list-style: none;
  padding: 0;
}

.raitingLi {
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
  .infoKey {
    min-width: 210px;
  }
}


@media screen and (max-width: 1024px) {
  .infoKey {
    min-width: 100px;
  }
}

@media screen and (max-width: 874px) {
  .top {
    flex-direction: column;
  }
  .topLeft {
    display: flex;
    justify-content: center;
  }
  .raitings {
    display: flex;
    flex-direction: column;
    li {
      gap: 10px;
      .infoKey {
        min-width: auto;
      }
    }
  }
 }